body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
}
h1{
    display: inline-block;
    font-size: 80px;
    text-align: center;
}
.menu{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    background: #ccc;
}
.logo{
    display: flex;
    justify-content: center;
    color: #cdcdcd;
    border-bottom: solid #cdcdcd 10px;
}

.box{
    width: 100vw;
    height: calc(100vh - 210px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.monkey{
    width: 100vw;
    height: calc(50vh - 210px);
    background: url("img/monkey.png") no-repeat center;
}
.timer_box{
    width: 100vw;
    height: 200px;
    display: flex;
    border-bottom: #cdcdcd solid 10px;
}
.chosen_timer{
    width:50%;
    height: 100%;
}
.time_left{
    width:50%;
    height: 100%;
}
.info_text{
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center
}
.state{
    height: 200px;
    width: 100vw;
    border-top: #cdcdcd solid 10px;
    border-bottom: #cdcdcd solid 10px;
}
.button_wrapper{
    height: calc(50vh - 310px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    height: 200px;
    width: 200px;
}
.button_off{
    background: #757575;
    border-radius: 50%;
}
.button_on{
    background: #572c2c;
    border-radius: 50%;
}
/* menu */

.menu_box{
    width: 0vw;
    overflow: hidden;
}
.timer_list{
    list-style: none;
    width: 100%;
    height: calc(100% - 260px);
}
.no_timer_wrapper{
    display: flex;
    align-items: center;
    color: #cdcdcd;
}
#choose0{
    margin-right: 36px;
}
.set_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item{
    height: calc((100vh - 410px)/10);
}
.name{
    width: 30%;
    font-size: 60px;
}
.timer_min{
    width: 22%;
    font-size: 60px;
}
.timer_sec{
    width: 22%;
    font-size: 60px;
    margin-right: 40px;
}
input[type=radio] {
    display: block;
    -ms-transform: scale(4);
    -webkit-transform: scale(4);
    transform: scale(4);
}

